/* initialisation de la page */
body {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.page {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}
.partie_centrale {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
header {
    display: flex;
    justify-content: space-between;
    background-image: url(media/code_htmil.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-size: 100%;
    border-bottom: solid 10px red;
}
header a {
    margin: 0px;
    padding: 5px;
    color: #FFF;
}
header a img {
    height: auto;
    width: auto;
}
header h1 {
    font-size: 30px;
    font-variant: small-caps;
    align-self: flex-end;
    padding: 20px 30px;
    margin: 0;
    font-weight: normal;
    color: #FFF;
}
/* menu de navigation */
.menu {
    display: flex;
    flex-direction: column;
    background-color: #333;
    align-items: center;
}
.menu ul{
    margin: 0;
    padding: 0;
    background-color: #333;
}
.menu li {
    list-style: none;
    padding: 8px 10px;
    text-align: center;
}
.menu a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}
.menu li:hover{
    background-color: red;
    transition: .300s linear;
}
.acceuil{
    width: 30px;
    height: 30px;
}
.active{
    border: solid 3px red;
}
/* structure de la page */
.contenu_principal{
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 100%;
}
table {
    border-collapse: collapse;
}

.en-tete {
    background-color: #EE5858;
}

.ligne-impaire {
    background-color: #BBB;
}

.ligne-paire {
    background-color: #EEE;
}

th {
    color: #FFF;
    font-weight: normal;
}

td,
th {
    border: 1px solid black;
    padding: 10px 15px;
}

.titrearticle {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-variant: small-caps;
    font-weight: bold;
    text-align: center;
}

.html {
    width: 40px;
    height: auto;
}

h2 {
    font-size: 25px;
    font-variant: small-caps;
    font-weight: bold;
    text-align: center;
}
.cadrearticle1{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 0px ;
    padding: 20px;
    background-color: #f8f8f8;
}
.cadrearticle2{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 0px ;
    padding: 20px;
    background-color: #E5E6E7;
}

article p {
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    padding: 20px;
    background-color: #fff;
}

article ul {
    font-size: 15px;
    line-height: 1.5;
    background-color: #fff;
    margin: 0px;
    padding: 20px;
}

.exemple {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

textarea {
    margin: 0;
    padding: 0px;
    height: 250px;
    width: 50%;
    border-left: solid 5px red;
}

.img_exemple {
    
    width: 50%;
    height: auto;
    margin: 10px;
    border-left: solid 5px red;
}

.cadre_exemple{
    width: 50%;
    height: inherit;
    margin: 10px;
    padding: 5px;
    background-color: #fff;
    border-left: solid 5px red;
}

table {
    align-self: center;
    text-align: center;
    font-size: 15px;
    letter-spacing: 0.1em;
    line-height: 1.5;
    margin: 25px 0px;
}

.lien {
    padding: 30px;
    font-size: 15px;
    letter-spacing: 0.1em;
    line-height: 1.5;
    background-color: #FFF;
}
/* Bouttons de navigation précédents et suivant */
.nav_buttons {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 0;
    background-color: #FFF;
}

.nav_buttons a {
    text-decoration: none;
    color: #FFF;
    margin: 0;
    padding: 20px;
    background-color: #EB2226;
    color: #FFF;
    font-size: 15px;
    line-height: 1.5;
    font-weight: bold;
}

.nav_buttons a:hover{
    background-color: #333;
    transition: .200s linear;
}
/* Mise en page spécifique à l'index */
/* partie introduction au html */
.intro {
    display: flex;
    padding: 10px 50px;

}

.intro_left {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 50%;
    padding: 30px 10px;

}

.intro_left p {
    font-size: 15px;
    letter-spacing: 0.1em;
    line-height: 1.5;
    margin: 25px 0px;
}

.intro_right {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-content: center;
    justify-content: center;
}

.html {
    width: 40px;
    height: auto;
}

.ex_html {
    justify-self: center;
    height: auto;
    width: 100%;
}

input[type=checkbox] {
    display: none;
}

.container img {
    transition: transform 0.25s ease;
    cursor: zoom-in;
}

input[type=checkbox]:checked~label>img {
    transform: scale(0.8);
    cursor: zoom-out;
    position: absolute;
    height: auto;
    width: 80%;
    top: 0;
    left: 10%;
}

h1 {
    font-size: 30px;
    font-variant: small-caps;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-size: 25px;
    font-variant: small-caps;
    font-weight: bold;
    text-align: center;
}
/* Partie sur les formateurs */
.formateurs {
    margin: 0px;
    padding: 10px 30px;
    background-color: #E5E6E7;
}

.formateurs h3 {
    font-size: 25px;
    font-variant: small-caps;
    font-weight: normal;
    margin: 15px 0px;
}

.formateur p {
    font-size: 30px;
    font-variant: small-caps;
    font-weight: bold;
}

.cadre {
    display: flex;
    background-color: #fff;
    margin: 40px;
    padding: 0px;
    justify-content: flex-start;
}

.cadre a {
    width: 40%;
    height: auto;
}

.legend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0px 20px;
}

.photo_form {
    border-radius: 50%;
    width: 100%;
    height: auto;
    padding: 5px;
}

/* bas de la page */
footer{
    
    color: white;
    display: flex;
    flex-direction: row;
    background-color: #333;
    list-style: none;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    border-top: solid 10px red;
}
footer li{
    list-style: none;
}
#facebook{
    height: 35px;
    width: auto;
    justify-content: flex-start;

}

#facebook {
    height: 35px;
    width: auto;
    justify-content: flex-end;

}
.mail{
    text-decoration: none;
    color: #fff;
}
.mail:hover{
    color: red;
    transition: .200s linear;
}

